@using Jamuro.AdventureWorks.Resources

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jamuro-jumbotron">
    <div class="row">       
        <div class="col-md-2 text-center">
            <img src="@Url.GetImage("Dotnetters.png")" alt="Dotnetters" style="margin:25px 0px;width:145px;height:51px" />
        </div>
        <div class="col-md-10">
            <h1>@Labels.ApplicationName</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">@Labels.ApplicationSubtitle</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Labels.Overview</h2>
        @Html.Partial(Html.GetPartialViewName("_OverviewORM"))     
    </div>
    <div class="col-md-4">
        <h2>@Labels.Technologies</h2>
        @Html.Partial(Html.GetPartialViewName("_TechnologiesORM"))  
        <hr /> 
        <h2>@Labels.ExternalTools</h2>
        @Html.Partial(Html.GetPartialViewName("_ExternalToolsORM"))  
    </div>
    <div class="col-md-4">
        <h2>@Labels.Background</h2>  
        <p class="text-center"><img src="@Url.GetImage("Deloitte-ES-IMG-ORM1.PNG")"/></p> 
        <hr /> 
        <h2>@Labels.MoreResources</h2>       
        <ul>
            <li><a href="https://www.microsoft.com/en-us/download/details.aspx?id=49502" target="_blank">AdventureWorks2016 Sample Database</a></li>
            <li><a href="http://www.entityframeworktutorial.net" target="_blank">Entity Framework Tutorial</a></li>
            <li><a href="https://www.tutorialsteacher.com/linq/linq-tutorials" target="_blank">LINQ Tutorial</a></li>
            <li>
                <a href="https://visualstudiomagazine.com/articles/2018/03/19/dapper-orm.aspx?m=1" target="_blank">
                    Dapper Micro-ORM
                </a>
            </li>
            <li><a href="https://exceptionnotfound.net/dapper-vs-entity-framework-vs-ado-net-performance-benchmarking/">Dapper vs EF vs ADO.NET Performance Benchmarking</a></li>
        </ul>
</div>
</div>
