@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.ProductViewModel
@{
    int counter = 1;
}

<div class="text-center">
    @Labels.Bikes: <span class=""><strong>@Model.Products.Count()</strong></span>
</div>
<div class="container">
    @foreach (var product in Model.Products)
    {
        if (counter == 1 || (counter > 1 && counter % 3 == 1))
        {
            @Html.Raw("<div class='row'>")
        }

        <div class="col-md-4 product-item-container">
            <div class="product-item">
                <div class="product-data">
                    <h3>@Html.DisplayTextFor(x => product.Name)</h3>
                    <p>
                        @Labels.Number: @Html.DisplayTextFor(x => product.ProductNumber)<br />
                        @Html.DisplayTextFor(x => product.ProductCategory.CategoryName) - @Html.DisplayTextFor(x => product.ProductCategory.SubcategoryName)<br />
                        @Html.DisplayTextFor(x => product.Color)<br />
                        @Labels.Price: <span class="alert-success">@string.Format("{0:c}", product.ListPrice)</span><br />
                    </p>
                    <div class="product-image-container">
                        @if (product.ProductPhoto.Any())
                    {
                        var base64 = Convert.ToBase64String(product.ProductPhoto.FirstOrDefault().LargePhoto);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <p class="text-center"><img src="@imgSrc"></p>
                    
                        }
                        else
                        {
                    <p>@Messages.NotPhotoAvailable</p>
                    }
                        <p class="text-center">@Html.ActionLink($"{product.ProductReview.Count()} {Labels.Comments}", string.Empty) </p>
                    </div>
                </div>
            </div>
        </div>

        if (counter > 1 && counter % 3 == 0)
        {
            @Html.Raw("</div>")
        }

        counter++;
    }
</div>
