@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.ProductViewModel

@{
    ViewBag.Title = Model.Title();
}

<h1>@Labels.AllBikes @Labels.WithIncludes @Labels.and @Labels.NoTracking</h1>
<h2>@Labels.AvoidN1ProblemWithIncludes</h2>
<h3>@Labels.SkipTracking</h3>
<hr />
<p>
    The LINQ query executed in this view is good enough but yet it can be improved. 
    In fact, the underlying SQL is returning all the fields for each SQL table. 
    Therefore, we can still improve performance by enhancing Repositories or LINQ queries in order to return only specific required fields.
</p>

@section ElapsedTime{   
    <hr/>
    <p class="elapsed-time"> @Html.Encode(ViewBag.elapsedTime) </p>
    <hr/>
}

<hr />
@Html.Partial("_BikesList", Model)

