@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.ProductViewModel

@{
    ViewBag.Title = Model.Title();
}

<h1>@Labels.AllBikes @Labels.WithIncludes @Labels.and @Labels.NoTracking</h1>
<h2>@Labels.AvoidN1ProblemWithIncludes</h2>
<h3>@Labels.SkipTracking</h3>
<hr />

<p>
    @Labels.LinqOkButCanBeImproved.
    @Labels.LinqReturningAllSqlFields.
    @Labels.Therefore, @Labels.LinqImprovedByReturningSpecificSQLFields    
</p>

@section ElapsedTime{   
    <hr/>
    <p class="elapsed-time"> @Html.Encode(ViewBag.elapsedTime) </p>
    <hr/>
}

<hr />
@Html.Partial("_BikesList", Model)

