@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.ProductViewModel

@{
    ViewBag.Title = Model.Title();
}

<h1>@Labels.AllBikes</h1>
<h2>@Labels.AffectedByN1Problem</h2>

@Html.Partial(Html.GetPartialViewName("_N1Problem"))

@section ElapsedTime{
    <hr/>
    <p class="elapsed-time"> @Html.Encode(ViewBag.elapsedTime) </p>
    <hr/>
}

<hr />

@Html.Partial("_BikesList", Model)

