@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.LinqViewModel

@{
    ViewBag.Title = Model.Title();
}

<h1>LINQ</h1>
<hr/>

<div class="row">
    <div class="col-md-12">
        <h2>LINQ Overview</h2>
        <p>(Extracted from <a href="https://www.TutorialsTeacher.com" target="_blank">TutorialTeacher.com</a>)</p>
        <p class="text-center"><img src="@Url.GetImage("Linq/Linq-usage.PNG")"/></p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Enumerable Extension Methods</h2>
        <p></p>
        <p class="text-center"><img src="@Url.GetImage("Linq/Enumerable-extension-methods.PNG")"/></p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Queryable Extension Methods</h2>
        <p></p>
        <p class="text-center"><img src="@Url.GetImage("Linq/Queryable-extension-methods.PNG")"/></p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>LINQ Query Syntax</h2>
        <p></p>
        <p class="text-center"><img src="@Url.GetImage("Linq/Linq-query-syntax.PNG")"/></p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>LINQ Method Syntax</h2>
        <p></p>
        <p class="text-center"><img src="@Url.GetImage("Linq/Linq-method-syntax.PNG")"/></p>
    </div>
</div>
<hr />
