@using Jamuro.AdventureWorks.Resources
@using Jamuro.AdventureWorks.SimpleDemo.ViewModels
@using Jamuro.AdventureWorks.SimpleDemo.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Labels.ApplicationName @(ViewBag.Title != null ? "- " + ViewBag.Title : "") </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/shared")
</head>
<body>
    @{ 
        var waitingWindowViewModel = WaitingWindowViewModel.GetDefaultValues();
    }
    @Html.Partial("_Waiting", waitingWindowViewModel)

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("dotNetters " + Labels.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Labels.Home, "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @Labels.Bikes
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="waiting-menu-item" href="@Url.Action("GetAllBikes", "Product")">
                                    @Labels.AllBikes - @Labels.N1Problem
                                    <span class="text-danger"><strong>@Labels.Bad</strong></span>
                                </a>
                            </li>
                            <li>
                                <a class="waiting-menu-item" href="@Url.Action("GetAllBikesWithIncludes", "Product")">
                                    @Labels.AllBikes - @Labels.AddIncludes
                                    <span class="text-success">@Labels.Good</span>
                                </a>
                            </li>
                            <li>
                                <a class="waiting-menu-item" href="@Url.Action("GetAllBikesWithIncludesNoTracking", "Product")">
                                    @Labels.AllBikes - @Labels.AddIncludes + @Labels.NoTracking
                                    <span class="text-success"><strong>@Labels.Good</strong></span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                            <a class="waiting-menu-item" href="@Url.Action("GetAllBikesWithCheckAllCount", "Product")">
                                @Labels.AllBikesWithCheckAllCountTitle
                                <span class="text-danger"><strong>@Labels.Bad</strong></span>
                            </a>
                            </li>
                            <li>
                                <a class="waiting-menu-item" href="@Url.Action("GetAllBikesWithCheckAllAny", "Product")">
                                    @Labels.AllBikesWithCheckAllAnyTitle
                                    <span class="text-danger"><strong>@Labels.Bad</strong></span>
                                </a>
                            </li>
                            <li>
                                <a class="waiting-menu-item" href="@Url.Action("GetAllBikesWithCheckOne", "Product")">
                                    @Labels.AllBikesWithCheckAnyTitle
                                    <span class="text-success">@Labels.Good</span>
                                </a>
                            </li>
                            <li>
                                <a class="waiting-menu-item" href="@Url.Action("GetAllBikesWithCheckExists", "Product")">
                                    @Labels.AllBikesWithCheckWIthExistsTitle
                                    <span class="text-success"><strong>@Labels.Good</strong></span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a class="waiting-menu-item" href="@Url.Action("GetMostExpensiveBikes", "Product", new { maxNumber = 10, topInjectedInSQL = false })">
                                    @Labels.Top10MostExpensiveBikes
                                    <span class="text-danger"><strong>@Labels.Bad</strong></span>
                                </a>
                            </li>
                            <li>
                                <a class="waiting-menu-item" href="@Url.Action("GetMostExpensiveBikes", "Product", new { maxNumber = 10, topInjectedInSQL = true })">
                                    @Labels.Top10MostExpensiveBikes
                                    <span class="text-success"><strong>@Labels.Good</strong></span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a class="waiting-menu-item" href="@Url.Action("GetAllBikesWithAllImprovements", "Product")">
                                    @Labels.AllBikes - @Labels.AddIncludes + @Labels.NoTracking + @Labels.RestrictSQLFields
                                    <span class="text-success"><strong>@Labels.Best</strong></span>
                                </a>
                            </li>
                            
                </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @Labels.Help
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Labels.SQLMonitorization, "SQLMonitorization", "Help")</li>                          
                            <li>@Html.ActionLink(Labels.SQLResourceOptimization, "SQLResourceOptimization", "Help")</li>
                            <li>@Html.ActionLink(Labels.SQLQueryOptimization, "SQLQueryOptimization", "Help")</li>
                            <li>@Html.ActionLink(Labels.SQLIndexes, "SQLIndexes", "Help")</li>
                            
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("LINQ", "LINQ", "Help")</li>
                            <li>@Html.ActionLink("Entity Framework", "EntityFramework", "Help")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderSection("ElapsedTime", false)
        @RenderBody()        
        <hr />
        <footer>           
            <p>&copy; @DateTime.Now.Year - @Labels.ApplicationName | <a href="@Labels.JamuroBlog" target="_blank">José A. Muro</a> | <a href="mailto:jmuro@deloitte.es">jmuro@deloitte.es</a> | <a href="mailto:jmuro77@hotmail.com">jmuro77@hotmail.com</a></p>
        </footer>
        <ul class="langs" style="list-style:none;">
            <li style="display:inline;">
                <a href="" class="set-lang" data-lang="es-es"><img src="@Url.GetImage("Spain.png", false)" /></a>
            </li>
            <li style="display:inline;">
                <a href="" class="set-lang" data-lang="en-US"><img src="@Url.GetImage("United-States-of-America.png", false)" /></a>
            </li>
        </ul>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
    $(document).ready(function(){
        @*$("#@waitingWindowViewModel.Name").fadeOut(500);*@

        $("a.waiting-menu-item").click(function(e) {
            $("#@waitingWindowViewModel.Name").show();
            return true;
        })

        $(".toogle-sqlquerystress-result").click(function () {
            $(".sqlquerystress-result").toggle();
        })

        $(".toogle-sqlprofiler-details").click(function () {
            $(".toogle-sqlprofiler-content").toggle();
        })

        $(".toogle-sqlextendedevents-details").click(function () {
            $(".toogle-sqlextendedevents-content").toggle();
        })

        $(".toogle-details").click(function () {
            $(".toogle-details-content").toggle();
        })

        var lang = JamuroAdventuresWorksSimpleDemo.Cookies.getCookie("@MemoryCacheManager.GetAppSettings("jamuro:MultiLanguageCookieName")");
        $(".set-lang[data-lang='" + lang + "'] img").addClass("active-lang");

        $(".set-lang").on("click", function (event) {
            var lang = $(this).attr("data-lang");
            JamuroAdventuresWorksSimpleDemo.Cookies.setCookie("@MemoryCacheManager.GetAppSettings("jamuro:MultiLanguageCookieName")", lang, 30);
            location.reload(true);
        })
    });


    </script>

</body>
</html>
