@using Jamuro.AdventureWorks.Resources
@using Jamuro.AdventureWorks.SimpleDemo.ViewModels

@model WaitingWindowViewModel

<div id="@Model.Name" class="modal">
    <!-- Modal content -->
    <div class="modal-content-preloader text-center">
        <p style="font-size:2em">@Model.Message...</p>
        <img src="/content/images/Preloader.1.gif" alt="@Labels.Waiting"/>
    </div>

</div>

@*<div id="@Model.Name" name="@Model.Name" class="preloader text-center">
    <div>
        <p style="font-size:2em">@Model.Message</p>
        <img src="/content/images/Preloader.1.gif" alt="@Labels.Waiting" style="margin:30px;" />
    </div>
</div>*@



